# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Getting to know popular tools and languages in Data Science
- Delevop hands-on experience with Jupyter Notebooks, JupyterLab, RStudio IDE
- Learn to run simple code in Python, R, or Scala
- Demonstrate proficiency through preparing a notebook in Jupyter Notebook

and furthermore 

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Arithmetic expressions in Python
- A converter

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia 
and more!

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Seaborn
3. TensorFlow 
4. NumPy and more!

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Visual Studio Code|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

-;+;*;/

In [8]:
# This a simple arithmetic expression to mutiply then add integers
print (3*4+5)

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
print ("200 minutes converted to hours =", (200/60) , "hours")

200 minutes converted to hours = 3.3333333333333335 hours

## Author:
Tuan Anh Nguyen